ADF/pipeline/incremental_cloudsales_orderdetails_to_adls.json
{
	"name": "incremental_cloudsales_orderdetails_to_adls",
	"properties": {
		"description": "Copy new or updated rows only from database using external control table",
		"activities": [
			{
				"name": "LookupLastWaterMark",
				"description": "Retrieve the last high-watermark value stored in external control table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "select @{pipeline().parameters.Control_Table_Column_Name} as WatermarkValue from @{pipeline().parameters.Control_Table_Table_Name}",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "AzureSqlDatabaseExternal_ControlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupCurrentWaterMark",
				"description": "Retrieve  the current maximum value in watermark column of source data store",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select MAX(',pipeline().parameters.Data_Source_WaterMarkColumn, ') as NewWatermarkValue from ',pipeline().parameters.Data_Source_Table_Name)",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "AzureSqlDatabaseDataSource",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeltaCopyfromDB",
				"description": "Copy activity to use query to filter the delta data by > last high-watermark and <= current high-watermark from source database, and then only copy the changes to the destination store.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupCurrentWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupLastWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.Data_Source_Table_Name} where @{pipeline().parameters.Data_Source_WaterMarkColumn} > '@{activity('LookupLastWaterMark').output.firstRow.WatermarkValue}' and @{pipeline().parameters.Data_Source_WaterMarkColumn} <= '@{activity('LookupCurrentWaterMark').output.firstRow.NewWatermarkValue}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "AzureSqlDatabaseDataSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DataDestination",
						"type": "DatasetReference",
						"parameters": {
							"Data_Destination_Container": {
								"value": "@pipeline().parameters.Data_Destination_Container",
								"type": "Expression"
							},
							"Data_Destination_Directory": {
								"value": "@pipeline().parameters.Data_Destination_Directory",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "UpdateWaterMark",
				"description": "Stored procedure activity to store the new high-watermark value into external control table for delta data loading. ",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DeltaCopyfromDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[control_table_orderdetails_update]",
					"storedProcedureParameters": {
						"wm": {
							"value": {
								"value": "@activity('LookupCurrentWaterMark').output.firstRow.NewWatermarkValue",
								"type": "Expression"
							},
							"type": "datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "southridge_cloudsales",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored Procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DeltaCopyfromDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[log_metrics]",
					"storedProcedureParameters": {
						"dataRead": {
							"value": "@activity('DeltaCopyfromDB').output.dataRead",
							"type": "Int32"
						},
						"dataWritten": {
							"value": "@activity('DeltaCopyfromDB').output.dataWritten",
							"type": "Int32"
						},
						"filesWritten": {
							"value": "@activity('DeltaCopyfromDB').output.filesWritten",
							"type": "Int32"
						},
						"rowsRead": {
							"value": "@activity('DeltaCopyfromDB').output.rowsRead",
							"type": "Int32"
						},
						"rowsCopied": {
							"value": "@activity('DeltaCopyfromDB').output.rowsCopied",
							"type": "Int32"
						},
						"copyDuration": {
							"value": "@activity('DeltaCopyfromDB').output.copyDuration",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "southridge_cloudsales",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Data_Source_Table_Name": {
				"type": "String",
				"defaultValue": "dbo.orderdetails"
			},
			"Data_Source_WaterMarkColumn": {
				"type": "String",
				"defaultValue": "CreatedDate"
			},
			"Data_Destination_Container": {
				"type": "String",
				"defaultValue": "source-data"
			},
			"Data_Destination_Directory": {
				"type": "String",
				"defaultValue": "southridge/cloudsales/dbo/"
			},
			"Control_Table_Table_Name": {
				"type": "String",
				"defaultValue": "control_table_orderdetails"
			},
			"Control_Table_Column_Name": {
				"type": "String",
				"defaultValue": "wm"
			}
		},
		"folder": {
			"name": "Incremental Load"
		},
		"annotations": []
	}
}